* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Card Profile */

.personal {
  display: flex;
  height: 150vh;
}

.personal .right {
  flex: 40%;
}

.card {
  width: 450px;
  border: 1px solid #00000033;
  border-radius: 16px;
  padding: 15px 15px 25px 15px;
  margin-top: 10%;
  margin-left: 780px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

.card .image img {
  width: 100%;
  border-radius: 16px;
}

.card .header h1 {
  text-align: center;
  margin: 10px 0;
}

.card .content p {
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  line-height: 120%;
  margin-bottom: 20px;
}

.card .content table {
  width: 100%;
  border: 2px solid rgb(116, 116, 116);
  border-radius: 1em;
  border-collapse: collapse;
}

.card .content table tr th {
  font-weight: 600;
  padding: 5px;
}

.card .content table tr td {
  font-weight: 300;
  padding: 5px;
  text-align: center;
}

.personal .left {
  flex: 60%;
  display: flex;
  position: relative;
}

.personal .left .div {
  position: absolute;
  top: 50px;
  right: 100px;
  left: 60px;
}

.personal .left div h1 {
  text-align: justify;
}

.personal .left div p {
  text-align: justify;
  margin-right: 45%;
  font-size: 1.4em;
}

.personal .left .sosmed-list {
  position: absolute;
  margin-top: 15%;
}

.personal .left .sosmed-list a {
  cursor: pointer;
  margin-right: 3px;
  margin-top: 5px;
}

.personal .left .sosmed-list a img {
  cursor: pointer progress;
  width: 10px;
}

/* Form Contact */

.form-contact {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-contact form label {
  font-size: 20px;
  font-weight: 400;
}

.form-contact form input,
textarea,
select {
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 20px;
  background: #f4f3f3;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
}

.form-contact form textarea {
  height: 100px;
}

.form-contact form button {
  padding: 8px 30px;
  font-size: 17px;
  background: #ec4d37;
  border-radius: 10px;
  border: none;
  color: #fff;
  cursor: pointer;
}

/* The container */
.form-contact .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.form-contact .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.form-contact .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.form-contact .container:hover input ~ .checkmark {
  background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */
.form-contact .container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.form-contact .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.form-contact .container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.form-contact .container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}